header{
    padding: 15px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    // mexer no tamanho
    width: 150px;
}